@charset "UTF-8";

/* CSS Document */

body {
  background-color:cornsilk;
}

#wrapper{
  width: 92%;
  border:2% solid blue;
  margin:2%;
}

main{
  height: 80%;
  overflow-y:auto;
}
footer{
  height: 15%;
  margin-top: 5%;
  margin-left: 2%;
}
.clearfix {
  clear: both;
}
